a{
    color: #ffffff;
    text-decoration: none;
    margin-top: 0%;
    margin-bottom: 100%;
    padding-bottom:30%;

}
/* LOGO */
img{
    display: inline-block;
}
.logo{
    width: 80px;
    position: absolute:
    margin-top: 40px;
    margin-left: 10px;


}

/* NAVBAR */

nav{
    font-weight: bold;
}
nav li {
    padding-top: 0%;
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
    align-text: left;
    align-items: center;


}
ul{
    text-decoration:none;
}

/* CONTENT */

/* MAIN */
body{
    width: 95%;
    display: block;
    background-color:#009999;

    background-position: center;
    background-size: cover;
}
/* SUBCONTENT */

.one{
    margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/1stpanel.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;


    }

.two{
     margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/2nd.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;
}

.three{
     margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/3rd.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;

}

.four{
     margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/4th.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;

}

.five{
     margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/5th.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;

}

.six{
     margin-left: 5%;
    margin-top: 2%;
    width: 400px;
    height: 550px;
    display: inline-block;
    background:url("images/6th.png");
    border-radius:10px;
    button-style: none;
    border-color: #ffffff;
    cursor: pointer;
    background-position: fill;
    background-size:400px;

}

.seven{

    margin-left: 5%;
    margin-top: 2%;
    width: 800px;
    height: 400px;
    display: inline-block;
    background:url("images/6th.png");
    border-radius:20px;
    button-style: none;
    border-color: #ffffff;
    cursor: arrow;
    background-position: fill;
    background-size:400px;

}


/* Names and Prices alignment */
.Preview-c{
    color: #ffffff;
    font-weight: bold;

}
.Preview-name{
    color: #ffffff;
    font-weight: bold;
}

.Preview-title{
    color: #ffffff;
    font-weight: bold;
}


.content1{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.content2{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.content3{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.content4{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.content5{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.content6{
    text-align: left;
    padding-top:100%;
    padding-left: 0%;
    padding-bottom: 0%;
}
