@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color:#009999;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    color: #ffffff;
    text-decoration: none;
}
.nav_links{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

.panel1{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(images/1.jpg);
    bacground-position: center;
    background-size:cover;
}

.panel2{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(images/1.jpg);
    bacground-position: center;
    background-size:cover;
    }

   .panel3{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(images/1.jpg);
    bacground-position: center;
    background-size:cover;
    }

    .panel4{
    width:200px;
    height:230px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(images/1.jpg);
    bacground-position: center;
    background-size:cover;
    }
